In [1]:
import pandas as pd
import numpy as np
from astropy.cosmology import FlatLambdaCDM
import matplotlib.pyplot as plt

cosmo = FlatLambdaCDM(H0=67.9, Om0=0.3065)

In [2]:
def deg2hms(deg):
    return '+{}:{:05.2f}'.format(int(deg/15), ((deg/15)-int(deg/15))*60)

def deg2dms(deg):
    sign = '+'
    if deg < 0: sign = '-'
    return '{}{}:{:05.2f}'.format(sign, abs(int(deg)), abs((deg-int(deg))*60))

In [3]:
df1 = pd.read_csv('df_05.csv')
df2 = pd.read_csv('df_5.csv')

In [4]:
df1['DISTANCE'] = np.array((cosmo.luminosity_distance(df1['z_true'])*1000)).round(1)
df2['DISTANCE'] = np.array((cosmo.luminosity_distance(df2['z_true'])*1000)).round(1)

df1['mag_r'] = df1['mag_r'].round(3)
df2['mag_r'] = df2['mag_r'].round(3)

In [5]:
ra1 = np.empty(len(df1), dtype='object')
dec1 = np.empty(len(df1), dtype='object')
ra2 = np.empty(len(df2), dtype='object')
dec2 = np.empty(len(df2), dtype='object')

for i in range(len(df1)):
    ra1[i] = deg2hms(df1['RA'][i])
    dec1[i] = deg2dms(df1['DEC'][i])

for i in range(len(df2)):
    ra2[i] = deg2hms(df2['RA'][i])
    dec2[i] = deg2dms(df2['DEC'][i])

df1['RA'] = ra1
df1['DEC'] = dec1
df2['RA'] = ra2
df2['DEC'] = dec2

In [6]:
df1['x1'] = np.array([1.0]*len(df1))
df2['x1'] = np.array([1.0]*len(df2))
df1['x2'] = np.array([0.5]*len(df1))
df2['x2'] = np.array([0.5]*len(df2))
df1['x3'] = np.array([.25]*len(df1))
df2['x3'] = np.array([.25]*len(df2))

In [7]:
df1 = df1[['ID', 'RA', 'DEC', 'DISTANCE', 'mag_r', 'x1', 'x2', 'x3']]
df2 = df2[['ID', 'RA', 'DEC', 'DISTANCE', 'mag_r', 'x1', 'x2', 'x3']]
df1

                  ID         RA       DEC  DISTANCE   mag_r   x1   x2    x3
0       364001568051   +3:00.75  +0:17.18   69553.4  20.770  1.0  0.5  0.25
1       364001010019   +2:58.92  +0:21.27  143704.0  19.038  1.0  0.5  0.25
2       364001346733   +3:00.36  +0:25.96   32795.7  18.383  1.0  0.5  0.25
3       364001064697   +3:01.02  +0:23.66  202969.9  20.486  1.0  0.5  0.25
4       364001150373   +3:00.98  +0:24.54  200827.4  21.183  1.0  0.5  0.25
...              ...        ...       ...       ...     ...  ...  ...   ...
741825  428000037419  +21:05.44  -1:29.78  140853.8  16.430  1.0  0.5  0.25
741826  428000490081  +21:04.89  -1:23.49  193090.3  22.174  1.0  0.5  0.25
741827  428000846902  +21:05.86  -1:21.42  143380.4  22.788  1.0  0.5  0.25
741828  428000897653  +21:05.52  -1:19.04  142230.2  23.041  1.0  0.5  0.25
741829  428000326443  +21:05.02  -1:19.05  161482.4  20.949  1.0  0.5  0.25

[741830 rows x 8 columns]

In [8]:
df1.to_csv('buzzy3g_bns.txt', header=None, index=None, sep=' ', mode='a')
df2.to_csv('buzzy3g_bbh.txt', header=None, index=None, sep=' ', mode='a')